@import './variables';

.enter {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.enter.enterActive {
  opacity: 1;
}

.leave {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.leave.leaveActive {
  opacity: 0;
}

.appear {
  opacity: 0;
}

.appear.appearActive {
  opacity: 1;
  transition: opacity 250ms ease-in 500ms;
}
