/*
 * Colors
 * ================================================= */

 $font-stack: 'Helvetica Neue', helvetica, arial, sans-serif;

/*
 * Colors
 * ================================================= */

$color-background: #263238;
$color-border: #455a64;
$color-highlight: #03a9f4;
$color-white: #fff;
$color-black: #000;

/*
 * Layout
 * ================================================= */

$base-width: 400px;
$base-height: 320px;
$dial-width: 300px;
$dial-arc-width: 10px;
