@import '../../styles/variables';

/*
 * Animations
 * ================================================= */

@keyframes draw {
  to { stroke-dashoffset: 0 }
}

@keyframes draw-reverse {
  from { stroke-dashoffset: 110 }
  to { stroke-dashoffset: 220 }
}

/*
 * Elements
 * ================================================= */

.base {
  fill: $color-white;
  max-width: 280px;
  width: 75%;

  svg {
    display: block;
  }
}

.arc {
  fill: transparent;
  stroke: $color-background;
}

.arcProgress {
  animation: draw 1.5s cubic-bezier(0.2, 1, 0.2, 1) forwards;
  fill: transparent;
}

.bad {
  composes: arcProgress;
  stroke: $color-status-bad;
}

.meh {
  composes: arcProgress;
  stroke: $color-status-meh;
}

.good {
  composes: arcProgress;
  stroke: $color-status-good;
}

.indicator {
  stroke: $color-white;
}

.fill,
.outline {
  animation: draw-reverse 1s cubic-bezier(0.2, 1, 0.2, 1) .3s forwards;
}

.outline {
  stroke: $color-background-light;
}

.circle {
  animation: draw 1s cubic-bezier(0.2, 1, 0.2, 1) .2s forwards;
  fill: $color-background-light;
}

.value {
  font-size: 45px;
  font-weight: $font-light;
}

.range {
  font-size: 18px;
}
