@import '../../styles/variables';

$dial-width: 225px;
$dial-arc-width: 15px;
$needle-overhang: 5px;

.base {
  border-color: $color-background-light;
  border-radius: $dial-width $dial-width 0 0;
  border-style: solid;
  border-width: $dial-arc-width $dial-arc-width 0;
  font-weight: $font-regular;
  height: $dial-width / 2;
  margin-top: 50px;
  position: relative;
  width: $dial-width;
}

.needle {
  background-color: $color-white;
  bottom: 0;
  box-shadow: 0 0 0 2px $color-background-light;
  height: 4px;
  left: ($dial-arc-width + $needle-overhang) * -1;
  position: absolute;
  transform-origin: right;
  width: ($dial-width / 2) + $needle-overhang;

  &::after {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $color-background-light;
    border: 4px solid $color-white;
    position: absolute;
    bottom: -5px;
    right: -5px;
  }
}

.min,
.max,
.value {
  position: absolute;
}

.min,
.max {
  bottom: -40px;
  font-size: 24px;
}

.min {
  left: ($dial-arc-width + 5px) * -1;
}

.max {
  right: ($dial-arc-width + 5px) * -1;
}

.value {
  font-size: 60px;
  font-weight: $font-light;
  left: 50%;
  top: -115px;
  transform: translateX(-50%);
}

.bad {
  composes: base;
  border-color: $color-status-bad;
}

.meh {
  composes: base;
  border-color: $color-status-meh;
}

.good {
  composes: base;
  border-color: $color-status-good;
}
