@import '../../styles/variables';

@keyframes draw {
  to { stroke-dashoffset: 0 }
}

@keyframes draw-reverse {
  from { stroke-dashoffset: -120 }
  to { stroke-dashoffset: 0 }
}

$dial-width: 225px;
$dial-arc-width: 15px;
$needle-overhang: 5px;

.min,
.max,
.value {
  position: absolute;
}

.min,
.max {
  bottom: -40px;
  font-size: 24px;
}

.min {
  left: ($dial-arc-width + 5px) * -1;
}

.max {
  right: ($dial-arc-width + 5px) * -1;
}

.value {
  font-size: 60px;
  font-weight: $font-light;
  left: 50%;
  top: -115px;
  transform: translateX(-50%);
}

.base {
  width: 80%;
  max-width: 280px;

  svg {
    display: block;
  }
}

.arc {
  animation: draw 1s cubic-bezier(0.2, 1, 0.2, 1) forwards;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  fill: transparent;
}

.bad {
  composes: arc;
  stroke: $color-status-bad;
}

.meh {
  composes: arc;
  stroke: $color-status-meh;
}

.good {
  composes: arc;
  stroke: $color-status-good;
}

.indicator {
  stroke: $color-white;
}

.needle {
  animation: draw 1s cubic-bezier(0.2, 1, 0.2, 1) .5s forwards;
  stroke: $color-white;
  transform-origin: 50% 83.5% 0;
}

.outline {
  composes: needle;
  stroke: $color-background-light;
}

.circle {
  animation: draw 1s cubic-bezier(0.2, 1, 0.2, 1) .3s forwards;
  stroke-dasharray: 35;
  stroke-dashoffset: 35;
  fill: $color-background-light;
}
