@import '../styles/variables';

.base {
  background-color: $color-background-100;
  height: $dimensions;
  padding: $padding-main;
  width: $dimensions;
}

.dial {
  border-color: $color-highlight-100;
  border-radius: $dial-width $dial-width 0 0;
  border-style: solid;
  border-width: 10px 10px 0;
  position: relative;
  width: $dial-width;
  height: $dial-width / 2;
}

.needle {
  background-color: $color-white;
  bottom: 0;
  height: 4px;
  left: $padding-main * -1;
  outline: 2px solid $color-background-100;
  position: absolute;
  transform-origin: right;
  width: $dial-width / 2 + 10px;
}
